#!/usr/bin/make -f

export XDG_CACHE_HOME=/tmp/gocache

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

BUILDTAGS := apparmor,ostree,seccomp,selinux,systemd,libsubid

override_dh_auto_build:
	make BUILDTAGS="$(BUILDTAGS)"

override_dh_auto_test:

override_dh_golang:

override_dh_auto_install:
	#dh_auto_install --destdir=debian/tmp --buildsystem=golang --builddirectory=_output
	# generate and install systemd unit files
	make install PREFIX=tempo
	#make DESTDIR=debian/tmp PREFIX=/ LIBEXECDIR=/usr/lib/ BINDIR=/usr/bin install.systemd
